body { padding-top: 40px; 
/*background-color: black;*/
background-color: #DCDDD8;
color: white;
/*text-shadow:1px 1px gray;*/

}

#pic {
width: 50%;
float: right;

}

#about {
	width: 45%;
	/*float: left;*/
}

#skills {
	width: 50%;
}

#section1 {
	/*background-repeat:no-repeat;*/
	/*background-position: center;*/
	/*background-size: contain;*/
	width: 100%;
	/*height: 300px;*/
	/*padding-bottom: -50px;*/
	/*margin-bottom: -50px;*/
	text-align: center;
	background-color: #354B5E;
	border-radius: 1.5em;
}

#section0 {
	position: center;
	text-align: center;
	display: inline;
}


#section2 {
	/*background-repeat:no-repeat;
	background-position: center;
	background-size: contain;*/
	width: 100%;
	/*height: 600px;*/
	/*background-color: red;*/
	/*padding-top: -70px;*/
	/*margin-top: -200px;*/
	margin-bottom: 1em;
	border-radius: 1.5em;
	background-color: #D74B4B;
}


#section4 {
	background-position: center;
	background-size: contain;
	width: 100%;
	/*height: 500px;*/
	background-color: #475F77;
	border-radius: 1em;
	/*padding-top: -70px;
	margin-top: -200px;*/
	color: #842F2F;
	margin-bottom: 3em;
	text-align: center;
}

#resume {
/*width: 100%;
height: 100%;*/
}